<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yolo</title>
    Yolo Detect 기능을 활용해보는 페이지입니다.
    <br>
    파일을 선택하고 전송 버튼을 누르면 확인할 수 있습니다.<br>
    성능상의 문제로 yolov5의 제일 적은 프라미터를 이용하였습니다.

    <br>
    <input type="file" id="file" onchange="loadFile(event)">
    <input type="button" value="전송" onclick="go()">
    <br>
    명언 입력
    <br>
    <br>

    <img id= "image", src="">

</head>
<body>

</body>

<script>

    function loadFile(event) {

    var output = document.getElementById('image');
    output.src = URL.createObjectURL(event.target.files[0]);

    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  }


    function go() {

        document.getElementById('image').src = 'https://t1.daumcdn.net/cfile/tistory/1661DB484ED5792606'
        console.log('바꼈나')
        var myHeaders = new Headers();
        myHeaders.append("Accept", "application/json");

        var formdata = new FormData();
        formdata.append("file", document.getElementById("file").files[0])

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: formdata,
            redirect: 'follow'
        };

        fetch("{{base_url}}/detect-yolo/", requestOptions)
            .then(response => {
                return response.json()
            })
            .then(data => {
                jsonv = JSON.parse(data)
                document.getElementById("image").src = 'data:image/png;base64,' + jsonv.imgData
            })
            .catch(error => console.log('error', error));

    }

</script>
</html>