
<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>PythonFlaskWebAPI</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Python Flask Web API</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="javascript:a()">1. 명언짤 제조</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="javascript:b()">2. DICOM Viewer</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="javascript:c()">3. Yolo</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="javascript:d()">4. 사진첩</a>

                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div id="content-form" class="container-fluid">
                    <h1 class="mt-4">설명</h1>
                    <p>총 4개의 기능이 구현되어 있습니다.</p>
                    <p>
                        왼쪽 사이드를 클릭하시면 해당 페이지가 조회됩니다.

                    </p>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script>

            jwt_key = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTYzNjI5ODM4NSwianRpIjoiZDVlMmIxYmQtZGVjZi00YmE3LWEyZDctYTBiYjNlNTM2YTJmIiwidHlwZSI6ImFjY2VzcyIsInN1YiI6OCwibmJmIjoxNjM2Mjk4Mzg1fQ.Qg8xftvWHl1gmU4kxEP8Q3F6lbcBhAvo1Jabb1tozNY'

            function insertHTML(html, dest, append=false){
                // if no append is requested, clear the target element
                if(!append) dest.innerHTML = '';
                // create a temporary container and insert provided HTML code
                let container = document.createElement('div');
                container.innerHTML = html;
                // cache a reference to all the scripts in the container
                let scripts = container.querySelectorAll('script');
                // get all child elements and clone them in the target element
                let nodes = container.childNodes;
                for( let i=0; i< nodes.length; i++) dest.appendChild( nodes[i].cloneNode(true) );
                // force the found scripts to execute...
                for( let i=0; i< scripts.length; i++){
                    let script = document.createElement('script');
                    script.type = scripts[i].type || 'text/javascript';
                    if( scripts[i].hasAttribute('src') ) script.src = scripts[i].src;
                    script.innerHTML = scripts[i].innerHTML;
                    document.head.appendChild(script);
                    document.head.removeChild(script);
    }
    // done!
    return true;
}

            function a() {
                fetch("{{base_url}}//명언제조기")
                    .then(response => {
                        return response.text()
                    })
                .then(function (html){
                    insertHTML(html,document.getElementById('content-form'))
                })
            }

            function b() {
                fetch("{{base_url}}//DICOM뷰어")
                    .then(response => {
                        return response.text()
                    })
                .then(function (html){
                    insertHTML(html,document.getElementById('content-form'))
                })
            }

            function c() {
                fetch("{{base_url}}//Yolo")
                    .then(response => {
                        return response.text()
                    })
                .then(function (html){
                    insertHTML(html,document.getElementById('content-form'))
                })
            }

            function d() {
                fetch("{{base_url}}//photoAlbum")
                    .then(response => {
                        return response.text()
                    })
                .then(function (html){
                    insertHTML(html,document.getElementById('content-form'))
                })

            }




        </script>
    </body>
</html>
